input.form__field(class=classList, type=inputType, name=inputName, placeholder=field.placeholderName, required=flagRequired, minlength=minlengthValue, maxlength=maxlengthValue, pattern=patternValue)
span.error-message(id=spanValue)
