- const minlengthValue = 2
- const maxlengthValue = 32

- let fieldList = [{class: 'form__email', type: 'email', name: 'email', placeholder: 'Почта',pattern: '[0-9A-z._\\-%+]+@[0-9A-z._\\-%+]+.[a-z]{2,5}', span: 'error-email'},{ class: 'form__login', type: 'text', name: 'login', placeholder: 'Логин', span: 'error-login' },{ class: 'form__first-name', type: 'text', name: 'first_name', placeholder: 'Имя', span: 'error-first-name' },{ class: 'form__second-name', type: 'text', name: 'second_name', placeholder: 'Фамилия', span: 'error-second-name' },{ class: 'form__phone', type: 'tel', name: 'phone', placeholder: 'Телефон', pattern: '(\\+7|8)[0-9]{10}', span: 'error-phone' },{ class: 'form__password', type: 'password', name: 'password', placeholder: 'Пароль', span: 'error-password' },{ class: 'form__password-repeat', type: 'password', name: 'password-repeat', placeholder: 'Повторите пароль', span: 'error-password-repeat' }];

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Вход
    body.modal.modal_theme_reg
        main.modal
            form.form.form__registration(name='registration' novalidate)
                h3.form__title Давайте познакомимся!
                fieldset.form__input-box.form.form__title
                    each field in fieldList
                        input.form__field.form__field_text(class=field.class, type=field.type, name=field.name, placeholder=field.placeholder, required, minlength=minlengthValue, maxlength=maxlengthValue, pattern=field.pattern, autocomplete='off')
                        span.error-message(name=field.span)
                a.form__button-link(title='Регистрация' href='/src/pages/chats/chats.html')
                    input.form__field.form__field_button(type='submit' value='Регистрация' name='Регистрация' disabled)
            a.modal__return-link(title='Войти' href='/src/pages/login/login.html') Войти
    script(type='module' src='./registration.js')
