- let chatList = [{userName: 'Alex', userPic: 'https://shapka-youtube.ru/wp-content/uploads/2022/06/ava-kot-iz-shreka.jpg', lastMessage: 'How are you?', active: false}, {userName: 'Barbie', userPic: 'https://shapka-youtube.ru/wp-content/uploads/2022/06/ava-kot-iz-shreka.jpg', lastMessage: 'Hello!', active: true}]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Чаты
    body.modal.modal_theme_chat
        main.modal
            div.block-chats
                div.block-chats__list
                    input.block-chats__search(type='text', name='search', placeholder='Поиск')
                    each field in chatList
                        if field.active
                            div.chat.chat_active
                                figure.avatar.avatar_size_small
                                    img.avatar__img.avatar__img_size_small(src=field.userPic alt='avatar')
                                    figcaption.avatar__figcaption
                                        img.avatar__logo.avatar__logo_size_small(src='/static/camera.svg')
                                div.block-chats__preview
                                    h6.chat__preview_title #{field.userName}
                                    p.chat__preview_text #{field.lastMessage}
                        else
                            div.chat
                                figure.avatar.avatar_size_small
                                    img.avatar__img.avatar__img_size_small(src=field.userPic alt='avatar')
                                    figcaption.avatar__figcaption
                                        img.avatar__logo.avatar__logo_size_small(src='/static/camera.svg')
                                div.chat__preview
                                    h6.chat__preview_title #{field.userName}
                                    p.chat__preview_text #{field.lastMessage}
                div.block-chats__text
                    div.block-chats__messages
                        p.chat-message.chat-message__your Привет. Как ты там поживаешь? Как погода? Как дела?
                        p.chat-message Добрый! Все хорошо. Сам как? Погода нынче отличная. Зима обещает быть снежной.
                    div.block-chats__divider
                    div.block-chats__input-form
                        textarea.block-chats__input(placeholder='Ваше сообщение', rows=3, name='message')
                        button.button.button_size_small(type='button') +

    script(type='module' src='./chats/chats.ts')
