- const minlengthValue = 3
- const maxlengthValue = 20

- let fieldList = [{ class: 'form__login', type: 'text', name: 'login', placeholder: 'Логин', span: 'error-login' },{ class: 'form__password', type: 'password', name: 'password', placeholder: 'Пароль', span: 'error-password' }]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/static/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Вход
    body.modal.modal_theme_auth
        main.modal
            form.form.form__auth(name='auth' novalidate)
                h3.form__title Авторизация
                .form__input-box
                    each field in fieldList
                        input.input-form(class=field.class, type=field.type, name=field.name, placeholder=field.placeholder, required, minlength=minlengthValue, maxlength=maxlengthValue, pattern=field.pattern, autocomplete='on')
                        span.error-message(id=field.span)
                button.button.button_submit.button_size_big(type='submit' title='Вход' disabled) Вход
            a.modal__return-link(title='Нет аккаунта?' href='/src/pages/registration.html') Нет аккаунта?
    script(src='./login/login.ts' type='module')
